body{background-color:#eee;border:0;margin:0;font:1.1em tahoma, arial, sans-serif;}
a{color:darkblue;transition:color .2s ease-out}
a:hover{color:red;}

input{
	display:none;
	font:1.1em tahoma, arial, sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
input[type="button"]{
	width:100px;
	padding:5px;
	text-align:center;
	display:block;
}

p{
	padding:10px;
}

#credits{
	display:none;
}

#app{

}
#app-wrap{

}

#splash{
	display:none;
}


.ape{
	margin-left:20px;padding:10px 0px 10px 10px;
}
.ape:hover{
	cursor:pointer;
}
.brdb{
	border-bottom:1px solid #888;
}
header{
	background-color:#fff;
	border-bottom:1px solid #888;
}
section{
	background-color:#fff;
	border-bottom:1px solid #888;
	border-top:1px solid #888;
}
h1{
	display:block;
	text-align: center;
	margin:0;
	padding:15px;
	font-size:1.4em
}
h2{
	margin:0;
	margin-top:20px;
	padding:10px;
	text-transform: uppercase;color:#888;
	font-size:1.0em
}
h3{
	margin:0;
	text-align:center;
	padding:10px;
}

.gr{
	color:green;
}
.rd{
	color:red;
}

#wifi-status{
	display:none;
}

#connect{
	display:none;
}
#pwd{
	border:none;
	width:80%;
	margin-left:35px;
	padding:10px 0px 10px 10px;
	display:block
}

.buttons{
	padding:15px;
}

#join{
	float:right;
}

.ctr{
	margin:0 auto;
}
.tctr{
	text-align: center;
}


#connect-wait{
	display:none;
}
#connect-success{
	display:none;
}
#connect-fail{
	display:none;
}


.w0{
	background: url('wifi0.png') no-repeat right top;height:24px;margin-right:20px;
}
.w1{
	background: url('wifi1.png') no-repeat right top;height:24px;margin-right:20px;
}
.w2{
	background: url('wifi2.png') no-repeat right top;height:24px;margin-right:20px;
}
.w3{
	background: url('wifi3.png') no-repeat right top;height:24px;margin-right:20px;
}
.pw{
	background: url('lock.png') no-repeat right top;height:24px;margin-right:20px;
	height:24px;
	margin-right:30px;
}





/* SpinKit is licensed under the MIT License. Copyright (c) 2015 Tobias Ahlin */
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* end of SpinKit */


