[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "tests/lwip/lwip"]
	path = tests/lwip/lwip
	url = https://github.com/ruuvi/lwip.git
[submodule "tests/posix_gcc_simulator"]
	path = tests/posix_gcc_simulator
	url = https://github.com/ruuvi/Posix_GCC_Simulator.git
[submodule "tests/ruuvi.esp_wrappers.c"]
	path = tests/ruuvi.esp_wrappers.c
	url = https://github.com/ruuvi/ruuvi.esp_wrappers.c.git
