[submodule "ruuvi.gwui.html"]
	path = ruuvi.gwui.html
	url = https://github.com/ruuvi/ruuvi.gwui.html.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "tests/lwip/lwip"]
	path = tests/lwip/lwip
	url = https://git.savannah.gnu.org/git/lwip.git
[submodule "tests/posix_gcc_simulator"]
	path = tests/posix_gcc_simulator
	url = https://github.com/ruuvi/Posix_GCC_Simulator.git
